// SPDX-FileCopyrightText: © 2024 Carl Ansell <github@carlansell.co.uk>
// SPDX-License-Identifier: GPL-3.0-or-later

.wp-block-carlansell94-summary-archive-container > details {
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    border-radius: .5rem;
    color: #222;
    font-size: .9rem;
    margin: .5rem 0;
}

.wp-block-carlansell94-summary-archive-container details > summary {
    cursor: pointer;
    padding: .5rem;
}

.wp-block-carlansell94-summary-archive-container details > details > summary {
    margin: 0 1rem;
}

.wp-block-carlansell94-summary-archive-container details > ul {
    margin: 0;
}

.wp-block-carlansell94-summary-archive-container details > ul > li {
    margin: .25rem .5rem .25rem 2rem;
}

.wp-block-carlansell94-summary-archive-container details ul > li > a {
    border: unset;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    .wp-block-carlansell94-summary-archive-container > details {
        background: #444;
        border: 1px solid #333;
        color: #fff;
    }

    .wp-block-carlansell94-summary-archive-container details ul > li > a {
        background: #444;
    }
}
